@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #fb923c, #db2777);
}

body main {
    background-color: #f4f5f5;
}

.dark body main {
    background-color: #111;
}



